@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMSService Home</title>
</head>
<body>
PMS SERVICE TRAY!
</body>
</html>